body{
  background-color: #21203F;

}
.container{

  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  min-height: 100vh;
}
.game-container{

  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  width:95vw;
  max-width: 1200px;
  min-height: 100vh;
  gap: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.inputs{
  background-color: #ffffff;
  align-items: center;
  width:200px;
  height: 30px;
  margin: 5px;
  margin: 0;
}
#enter-btn{
  width:100px;
  height: 35px;
  margin: 2px;
  background-color: #F3AD38;
  border-color: #dfa032;
}
.headers{
  color:#F3AD38;
  font-family:  "Playwrite NZ Basic", cursive;

}
.players-names{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-items:center ;
  align-items: center;
}
.board_cells{
  background-color: azure;
  /*border:1px solid #ddd;*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  aspect-ratio: 1/1;
}


.game_board{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  aspect-ratio: 1/1;
  width: min(90vw, 700px);
  gap: 2px;
  background-color: transparent;
}

#dice{
  display: grid;
  place-items: center;
  margin-top: 10%;
  width: min(15vw, 80px);
  aspect-ratio: 1/1;
  background-color: #967adc;
  border: 2px solid #b192ff;
  border-radius: 10%;

}


.dice-dot{
  width: min(3vw, 10px);
  background: #ffffff;
  border-radius: 50%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  aspect-ratio: 1/1;
}


.player-base{
  display:flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tokens{
  width: min(4vw, 50px);
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.5);
  display: block;
}
.yellow-token{
  background-color: #F3AD38;
}
.red-token{
  background-color: #fc4d64;
}

.game-area{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
