body{
  background-color: #21203F;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  min-height: 100vh;
}
.game-container{
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  width:100%;
  max-width: 1200px;
  height: 100vh;
  gap: 10px;

}
.inputs{
  background-color: #ffffff;
  align-items: center;
  width:200px;
  height: 30px;
  margin: 5px;
  margin: 0;
}
#enter-btn{
  width:100px;
  height: 35px;
  margin: 2px;
  background-color: #F3AD38;
  border-color: #dfa032;
}
.headers{
  color:#F3AD38;
  font-family:  "Playwrite NZ Basic", cursive;

}

#current-player{
  display: inline-block;
  text-align: center;
  margin:0;
}

.players-names{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-items:center ;
  align-items: center;
}
.board_cells{
  background-color: azure;
  /*border:1px solid #ddd;*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  aspect-ratio: 1/1;
  gap: 3px;
  border-radius: 30%;
}


.game_board{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  aspect-ratio: 1/1;
  width: min(90vw, 575px);
  gap: 2px;
  background-color: transparent;
  position: relative;

}

#dice{
  display: grid;
  place-items: center;
  margin-top: 10px;
  width: min(15vw, 80px);
  aspect-ratio: 1/1;
  background-color: #967adc;
  border: 2px solid #b192ff;
  border-radius: 10%;

}


.dice-dot{
  width: min(3vw, 10px);
  background: #ffffff;
  border-radius: 50%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  aspect-ratio: 1/1;
}


.player-base{
  display:flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tokens{
  width: min(4vw, 30px);
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.5);
  display: block;
  position:relative; /*الخلايا تصير فوق بعض و يبينون كأنهم  وحدة*/
  margin: 2px;
  transition: all 0.2 ease;
  z-index:1;

}
.board_cells .tokens{
  position: absolute;

}
.yellow-token{
  background-color: #F3AD38;
  gap:10px;
}
.red-token{
  background-color: #fc4d64;
}

#red-center, #yellow-center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static important!;
  position: relative;
  padding: 2px;
  border-radius: 5%;
}


.game-area{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-height: 90vh;
}

#winner-window{
  background-color: #ffffff;
  transform: translate(-50%,-50%);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  top: 50%;
  left: 50%;
  font-size: 50px;
  font-family:  "Playwrite NZ Basic", cursive;
  display: none;
  z-index: 100;
  min-height: 100px;
  width: min(90vw, 700px);
  border-radius: 2%;

}

@media(max-height: 700px){
  .game_board{
    width: 80vw;
  }
}

.header-container{
  position: relative;
  display: flex;
  justify-content: center;
  width:100%;
  max-width:575px;
  padding: 10px 0;
  margin-bottom: 20px;

}
.exit {
  color: #ffffff;
  font-size: 2.2rem;
  position:absolute;
  right: 0;

}

.rolling{
  animation:roll 0.5s infinite
}

@keyframes roll {
  0%{transform: rotate(0deg) scale(1);}
  25%{transform: rotate(90deg) scale(1.1);}
  50%{transform: rotate(180deg) scale(1);}
  75%{transform: rotate(270deg) scale(1.1);}
  100%{transform: rotate(360deg) scale(1);}
}

#dice{transition: transform 02s ease;
cursor:pointer;}


.red-turn .red-token{z-index:10}
.red-turn .yellow-token{z-index: 1}

.yellow-turn .yellow-token{z-index:10}
.yellow-turn .red-token{z-index: 1}
